body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

blockquote {
    color: #999;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 3rem auto;
    width: 80%;
}